In [1]:
import pandas as pd

# 1.DATA_COLLECTION?
# DATA FROM KAGGLE
# Tennessee middle schools.csv

In [2]:
dataset=pd.read_csv("Tennessee middle schools.csv")

In [3]:
dataset

,name,school_rating,size,reduced_lunch,state_percentile_16,state_percentile_15,stu_teach_ratio,school_type,avg_score_15,avg_score_16,full_time_teachers,percent_black,percent_white,percent_asian,percent_hispanic
0,Allendale Elementary School,5,851,10,90.2,95.8,15.7,Public,89.4,85.2,54,2.9,85.5,1.6,5.6
1,Anderson Elementary,2,412,71,32.8,37.3,12.8,Public,43.0,38.3,32,3.9,86.7,1.0,4.9
2,Avoca Elementary,4,482,43,78.4,83.6,16.6,Public,75.7,73.0,29,1.0,91.5,1.2,4.4
3,Bailey Middle,0,394,91,1.6,1.0,13.1,Public Magnet,2.1,4.4,30,80.7,11.7,2.3,4.3
4,Barfield Elementary,4,948,26,85.3,89.2,14.8,Public,81.3,79.6,64,11.8,71.2,7.1,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,Winfree Bryant Middle School,3,611,57,59.1,65.2,16.9,Public,61.4,57.7,36,15.2,66.3,1.5,15.7
343,Winstead Elementary School,5,515,8,93.9,97.0,14.3,Public,92.0,89.3,36,3.3,87.4,3.1,4.1
344,Woodland Elementary,4,424,55,84.8,76.7,14.1,Public,69.4,79.4,30,11.6,70.5,2.1,9.7
345,Woodland Middle School,5,866,2,93.3,97.1,19.2,Public,89.8,84.9,45,4.5,77.6,10.0,4.4
346,Wright Middle,0,829,89,4.5,1.2,16.5,Public,2.7,9.6,50,22.3,21.0,6.6,49.5

# 2.DATA_PREPROCESSING?# using fillna function for  DATASET TA PREPROCESSING

In [5]:
dataset.isnull()

,name,school_rating,size,reduced_lunch,state_percentile_16,state_percentile_15,stu_teach_ratio,school_type,avg_score_15,avg_score_16,full_time_teachers,percent_black,percent_white,percent_asian,percent_hispanic
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
343,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
344,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
345,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
346,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
dataset.isnull().sum()

name                   0
school_rating          0
size                   0
reduced_lunch          0
state_percentile_16    0
state_percentile_15    6
stu_teach_ratio        0
school_type            0
avg_score_15           6
avg_score_16           0
full_time_teachers     0
percent_black          0
percent_white          0
percent_asian          0
percent_hispanic       0
dtype: int64

In [8]:
dataset["state_percentile_15"].fillna(0,inplace=True)
dataset["avg_score_15"].fillna(0,inplace=True)

In [9]:
dataset.isnull().sum()

name                   0
school_rating          0
size                   0
reduced_lunch          0
state_percentile_16    0
state_percentile_15    0
stu_teach_ratio        0
school_type            0
avg_score_15           0
avg_score_16           0
full_time_teachers     0
percent_black          0
percent_white          0
percent_asian          0
percent_hispanic       0
dtype: int64